<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
  </head>
  <body>
    <div class="content">
        <h1>About Srinagar</h1>
      <p>
        District Srinagar is the summer capital of Jammu and Kashmir (UT). It is
        situated in the centre of the Kashmir Valley on the banks of the Jhelum
        River and is surrounded by four districts and Ladakh UT. In the north it
        is flanked by Ladakh (UT) and Ganderbal in the South by Pulwama in the
        north-west by Budgam. The capital city of Srinagar is located 1585
        meters above sea level. The city is famous for its gardens, lakes and
        houseboats. It is also known for traditional Kashmiri handicrafts and
        dried fruits. The city is located on both the sides of the Jhelum River,
        which is called Vyath in Kashmir. The river passes through the city and
        meanders through the valley, moving onward and deepening in the Dal
        Lake. The city is famous for its nine old bridges, connecting the two
        parts of the city. Hokersar is a wetland situated near Srinagar.
        Thousands of migratory birds come to Hokersar from Siberia and other
        regions in the winter season. Migratory birds from Siberia and Central
        Asia use wetlands in Kashmir as their transitory camps between September
        and October and again around spring. These wetlands play a vital role in
        sustaining a large population of wintering, staging and breeding birds.
        Hokersar is 14 km (8.7 mi) north of Srinagar, and is a world class
        wetland spread over 13.75 km2 (5.31 sq mi) including lake and marshy
        area. It is the most accessible and well-known of Kashmir’s wetlands
        which include Hygam, Shalibug and Mirgund. A record number of migratory
        birds have visited Hokersar in recent years./P> Birds found in
        Hokersar—Migratory ducks and geese which include brahminy duck, tufted
        duck, gadwall, garganey, greylag goose, mallard, common merganser,
        northern pintail, common pochard, ferruginous pochard, red-crested
        pochard, ruddy shelduck, northern shoveller, common teal, and Eurasian
        wigeon.
      </p>
      <img
        src="https://images.pexels.com/photos/16498513/pexels-photo-16498513/free-photo-of-dal-lake-in-srinagar-jammu-and-kashmir-india.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
      /></div>
  </body>
</html>