*
{
    padding: 0;
    margin: 0;
}

h1
{
    color: red;
    font-size: 34px;
}

.container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
<<<<<<< HEAD
    
}
.content
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.content h1
{
    padding: 10px;
}
.content p
{
    padding: 20px;
}

.content img
{
    height: 500px;
}
=======
}
>>>>>>> c672d813f83e082817c00c6eeea21da6352f2645
